<div id='main_index_establishments_container'>
    <div id='main_filter_container' class='card border grey'></div>

    <div id='establishments_list_container' class='card border'>
        <ol class='establishments_list'></ol>
        <div class='pagination_container'></div>
    </div>

    <div id='map_pane'>
        <div id='redo_search_wrapper'>
            <div id='redo_search_container'>
                <input type='checkbox' name='redo_search' id='redo_search' [[- Client.get('redo_search') ? 'checked' : '' ]]>
                <label for='redo_search'>Redo search when map moved</label>
            </div>
        </div>
        <div class='map_canvas_container'><div id='map_canvas'></div></div>
    </div>

    <div id='login_modal_container'></div>
</div>
