<div class='establishments_container'>
    <div id='main_filter_container'></div>

    <ol class='establishments_list'></ol>
    <div class='map_canvas_container'></div>
</div>

<div class='main_btn_container'>
</div>
