<div class='main_btn_container'>
    <a href="users" class="btn nav">Users</a>
    <a href="establishments" class="btn nav">Establishments</a>
    <a href="establishments/search" class="btn nav">Search</a>
</div>
