<div id='main_index_establishments_container'>
    <div id='main_filter_container' class='card border grey'></div>

    <div id='establishments_list_container' class='card border'>
        <ol class='establishments_list'></ol>
        <div class='pagination_container'></div>
    </div>

    <div class='map_canvas_container'></div>

    <div id='login_modal_container'></div>
</div>
