<div id='main_index_establishments_container' class='sticky_map_container'>
    <div id='main_filter_container' class='card border grey'></div>

    <div class='column left'>
        <div id='establishments_list_container' class='card border'>
            <ol class='establishments_list'></ol>
            <div class='pagination_container'></div>
        </div>
    </div>

    <div class='column right'>
        <div id='main_map_pane'>
            <div class='map_canvas_container'>
                <div id='map_canvas'></div>
            </div>
        </div>
    </div>
    <br class='clear'>
</div>
