<div class='establishment_search_container'>
    <h3>See Endorsed Restaurants Near</h3>
    <button class='btn' id='nearby_btn'>Search Nearby</button>
    <form id='establishment_search_form'>
        <input id='location' type='text' value="San Francisco">

        <% if (CurrentUser.logged_in()) { %>
            <label>Only show restaurants from people I'm following</label>
            <input id='from_followed' type='checkbox' checked>
        <% } %>

        <input class='btn' type='submit' value='Submit'>
    </form>
</div>

<div class='establishments_container'>
    <ul class='establishments_list'></ul>
    <div class='map_canvas_container'></div>
</div>

<div class='main_btn_container'>
    <a href='users' class='btn nav'>Users</a>
    <a href='establishments/search' class='btn nav'>Search</a>
</div>
