<div class='main_image'>
    <img src="[[= get('medium_url') ]]">
</div>

<div id='main_image_info'>
    <a class='username'>[[= get('username') ]]</a>
    <p class='caption'>[[= get('caption') ]]</p>
    <p class='timestamp'>[[= get('created_at') ]]</p>
</div>

<br class='clear'>
