<div id='photo_upload_form_container'>
    <label>Add Photos<button><%= image_tag "camera_icon.svg" %></button></label>

    <form id='photo_upload_form' method="post" enctype="multipart/form-data" action='/api/users/photo'>
        <input name="authenticity_token" value="[[= $('meta[name="csrf-token"]')[0].content ]]" type="hidden">
        <input name="establishment_id" value="[[= get('id') ]]" type="hidden">
        <input type='file' name='image' capture='camera'>
    </form>

    <div id='upload_caption_form_container'></div>
</div>