<label>Add Photo<button><%= image_tag "camera_icon.svg" %></button></label>

[[ if (CurrentUser.logged_in()) { ]]
    <form class='photo_upload_form' method="post" enctype="multipart/form-data" action='/api/users/photo'>
        <input name="authenticity_token" value="[[= $('meta[name="csrf-token"]')[0].content ]]" type="hidden">
        <input name="establishment_id" value="[[= get('id') ]]" type="hidden">
        <input type='file' name='image' capture='camera'>
    </form>

    <div class='upload_throbber_container'></div>
[[ } ]]
