<form id='photo_upload' method="post" enctype="multipart/form-data" action='/api/users/photo'>
    <input name="authenticity_token" value="[[= $('meta[name="csrf-token"]')[0].content ]]" type="hidden">
    <input name="establishment_id" value="[[= get('id') ]]" type="hidden">
    <input type='file' name='image' capture='camera'>
    <input type='submit' value='Upload'>
</form>