<div id='caption_form_container'>
    <h1>Add a Caption</h1>
    
    <img src="[[= get('medium_url') ]]">

    <form id='caption_form'>
        <input id='caption_input' class='text_input' type='text' maxlength='100'>
        <div id='char_counter'>Characters remaining: <span>100</span></div>

        <input type='submit' class='btn text'>
        <a class='skip'>Skip</a>
    </form>
</div>