<div id='caption_form_container'>
    <h1>Add a Caption</h1>
    
    <img src="[[= get('medium_url') ]]">

    <form id='caption_form'>
        <input type='text' maxlength='255'>
        <input type='submit' class='btn text'>
        <a class='skip'>Skip</a>
    </form>
</div>