<div id='form_container'>
    <img src="[[= get('small_url') ]]">

    <form id='caption_form'>
        <label>Add a Caption</label>
        <input type='text'>
        <input type='submit' class='btn'>
    </form>
</div>