<!-- TODO: Maybe make this a link to a new list with prompt title -->
<h1>Share Your Favorite Spots</h1>

<div id='home_page_new_list_btn_container'>
    <a class='btn text new_list_btn'>Make a Yum List</a>
</div>

<p>Need some inspiration? How about</p>
<h3>[[= prompt ]]?</h3>
