<h4>Featured YumHacker</h4>

<div id='featured_user_info'>
    <div id='featured_user_image_container'>
        <a href="[[= get('path') ]]" id='featured_user_image' class='nav'>
            <img src="[[= get('avatar_url_small') ]]">
        </a>
    </div>

    <div id='featured_user_text_container'>
        <a href="[[= get('path') ]]" id='featured_user_name' class='nav'>
            [[= get('full_name') ]]
        </a>

        <a href="[[= get('website') ]]" id='featured_user_website'>SPADY LADY</a>

        <p>From coffee on the run to full on boozy brunch, this list of my favorite places to enjoy breakfast has something for everyone!</p>
    </div>
</div>