<div id='featured_list_info'>
    <a href="[[= get('path') ]]" class='nav'><img src="[[= get('small_url') ]]"></a>
    <div id='featured_list_text'>
        <p>[[= get('user_first_name')]]'s list of the</p>
        <a href="[[= get('path') ]]" class='nav'>[[= get('title') ]]</a>
    </div>
</div>