<div id='featured_list_info'>
    <div class='list_info_container'>
        <div class='list_title_container'>
            <a href="[[= get('path') ]]" class='nav'>[[= get('title') ]]</a>
        </div>

        <div class='list_photo_container'>
            <a href="[[= get('path') ]]" class='nav'>
                <img class='list_photo' src="[[= get('small_url')]]">
            </a>
        </div>

        <div class='list_description'>
            <p>[[= get('description') ]]</p>
        </div>
    </div>
</div>
