<div id='home_page_container'>
    <div class='column left'>
        <div id='create_list_container' class='card border'></div>

        <div id='home_page_user_info_container' class='card'></div>
    </div>

    <div class='column right'>
        <div id='featured_container' class='card'></div>

        <div id='home_page_lists_container' class='card'>
            <h4>Recent Lists</h4>
            <ul id='home_page_lists'></ul>
            <div class='pagination_container'></div>
        </div>
    </div>
</div>
