<div id='signed_out_user_info_container' class='card'>
    <h1>Life is too short <br>
        to eat bad food.</h1>

    <h3>Collect the restaurants you love into sharable lists and discover exciting, new dining experiences from people you trust.</h3>

    <div id='home_page_login_buttons'>
        <a href="/users/sign_up" class='btn text login_btn'>Sign Up</a>   
        <a href="/users/sign_in" class='btn text login_btn'>Sign In</a>
    </div>
</div>