<h1>Hello World!</h1>

<ul>
    <% @users.each do |user| %>
        <li>
            <a href="<%= user.path + '/categories' %>"><%= user.full_name %> Categories</a>
        </li>
    <% end %>
</ul>

<%= paginate @users %>