<% content_for(:title, "YumHackers' Best Restaurants By Category | Yumhacker") %>

<header></header>
<section>
    <div id='users_index_list_container' class='card border'>
        <h3>Browse All YumHackers' Endorsements by Category</h3>
        <ul id='users_index_list'>
            <% @users.each do |user| %>
                <li>
                    <a href="<%= user.path + '/categories' %>"><%= user.full_name %>'s Categories</a>
                </li>
            <% end %>
        </ul>
    </div>

    <%= paginate @users %>
</section>
<footer></footer>
