<form id='comment_form'>
    <input id='comment_input' type='text' placeholder='Share your thoughts...'>
    <button class='btn text' type='submit' value='submit'>Share</button>
    <br class='clear'>
</form>
