<form id='comment_form'>
    <div id='inputs_container'>
        <div id='location_container'>
            <input id='location' type='text' placeholder='Share your thoughts...'>
            <br class="clear">
        </div>
        
        <div id='submit_container'>
            <button class='btn' type='submit' value='submit'>Submit</button>
        </div>
        <br class="clear">
    </div>
</form>
