<form id='comment_form'>
    <h3>Quick! What makes [[= get('name') ]] awesome?</h3>
    <input id='comment_input' class='text_input' type='text' maxlength='100' placeholder='Share your thoughts...'>
    <button class='btn text' type='submit' value='submit'>Share</button>
    <br class='clear'>
    <div id='char_counter'>Characters remaining: <span>100</span></div>
</form>
