<p>[[= moment(get('open_day'), 'd').format('ddd') + ': ' + moment(get('open_time'), 'HHmm').format('h:mm a') ]]</p>
<p>[[= moment(get('close_day'), 'd').format('ddd') + ': ' + moment(get('close_time'), 'HHmm').format('h:mm a') ]]</p>