<div class="establishment_info">
    <a href='[[= get("path") ]]' class='biz_name'>[[= get('name') ]]</a>
    <div class='categories_container'></div>

    [[ if (get('street_number') && get('street')) { ]]
        <p class="details">[[= get('street_number') ]] [[= get('street') ]]</p>
    [[ } ]]

     [[ if (get('city') && get('state') && get('zip_code')) { ]]
        <p class='details'>[[=  get('city') ]], [[= get('state') ]] [[= get('zip_code') ]]</p>
    [[ } ]]
    
    [[ if (get('phone')) { ]]
        <a href='[[= "tel:" + get("phone") ]]' class="details phone">[[= get('phone') ]]</a>
    [[ } ]]

    <div class='details extra'>
        <p class='price'>[[- get('price_symbol') ? get('price_symbol') : '' ]]</p>
        [[ if (get('website')) { ]]
            <a class="details website" href="[[= get('website') ]]" target='_blank'>[[= get('formatted_url') ]]</a>
        [[ } ]]
        <br class='clear'>
    </div>

    <div class='hours_container'></div>

</div>

<div class='establishment_action_btn_container'>
    <div class='add_to_list_btn_container'>
        <a class='add_to_list_btn btn unengaged text'>Add to List</a>
    </div>

    <div class='wish_list_btn_container'></div>
</div>
<br class='clear'>

<div class='endorsers_wrapper'></div>

