<div class="establishment_info">
    <a href='[[= get("path") ]]' class='biz_name'>[[= get('name') ]]</a>

    [[ if (get('street_number') && get('street')) { ]]
        <p class="details">[[= get('street_number') ]] [[= get('street') ]]</p>
    [[ } ]]

     [[ if (get('city') && get('state') && get('zip_code')) { ]]
        <p class='details'>[[=  get('city') ]], [[= get('state') ]] [[= get('zip_code') ]]</p>
    [[ } ]]
    
    [[ if (get('phone')) { ]]
        <p class="details phone">[[= get('phone') ]]</p>
    [[ } ]]

    [[ if (get('website')) { 
        var formatted_url = get('website').replace(/\/$/, '').replace(/^http.*\//, '').replace(/^www[.]/, '');
        console.log(formatted_url)
    ]]
        <a class="details website" href="[[= get('website') ]]" target='_blank'>[[= formatted_url ]]</a>
    [[ } ]]

    <p class='details small'>
        [[- get('price_symbol') ? get('price_symbol') : '' ]]
    </p>
    <div class='hours_container'></div>
</div>

<div class='endorse_btn_container'></div>
<br class='clear'>
