<li id='no_results_message'>
    <h1>Bummer! No results found.</h1>
    <p>Why not give one of these links a try.</p>

    <div id='other_search_links_container'>
        <a href='/users/search' class='nav'>Find Friends</a>
        <a href='/establishments/search' class='nav'>Endorse a Restaurant</a>    
    </div>
</li>