<div id='photos_index_container'>
    <div><a id='biz_name'>[[= get('name') ]]</a></div>
    
    <div id='photos_upload_forms_container'></div>
    
    <div id='photos_gallery_container'></div>
</div>