<div class='establishment_info'>
    [[ if (get('path')) { ]]
        <a class='biz_name' href='[[= "/" + get("path") ]]'>[[= get('name') ]]</a>
    [[ } else { ]]
        <div class='biz_name'>[[= get('name') ]]</div>
    [[ } ]]

    <div class='details'>[[= get('formatted_address') ]]</div>
</div>

<div class='endorse_btn_container btn_container'>
    [[ if (CurrentUser.get('id')) { ]]
        <a class='create_btn btn text'>Endorse</a>
    [[ } else { ]]    
        <a href='/users/sign_up' class='btn text'>Endorse</a>
    [[ } ]]
</div>

<br class='clear'>
