<form id='establishment_search_form'>
    <input id='query' type='text'>
    <input id='location' type='text'>
    <input class='btn' type='submit' value='Submit'>
</form>

<div class="search_results_container">
    <ul class="search_results"></ul>
</div>