<div class='establishment_info'>
    [[ if (get('path')) { ]]
        <a class='biz_name' href='[[= "/" + get("path") ]]'>[[= get('name') ]]</a>
    [[ } else { ]]
        <div class='biz_name'>[[= get('name') ]]</div>
    [[ } ]]

    <div class='details'>[[= get('formatted_address') ]]</div>
</div>

<div class='action_btn_container'>
    <div class='endorse_btn_container btn_container'>
        <a class='create_btn btn text'>Endorse</a>
    </div>
</div>

<br class='clear'>
