<h3>Search for a Restaurant</h3>

<form id='establishment_search_form'>
    <label>Restaurant Name:</label>
    <input id='query' type='text' placeholder="Brickhouse">
    <label>Near:</label>
    <input id='location' type='text' value="San Francisco">
    <input class='btn' type='submit' value='Submit'>
</form>

<div class="search_results_container">
    <ul class="search_results"></ul>
</div>