<div id='establishment_show_container'>
    <div class='column left_column'>
        <div id='establishment_info_container' class='card'></div>

        <div id='establishment_comments_container' class='card borderless'>
            <div id='comments_form_container'></div>

            <ul id='comments_list'></ul>
        </div>
    </div>
    
    <div class="column right_column">
        <div id='map_canvas_container'></div>
        
        <div id='endorsers_list_container'>
            <h4>People Endorsing This Place</h4>
            <ul id='endorsers_list' class='card'></ul>
        </div>
    </div>
</div>
