<div id='establishment_show_container'>
    <div id='establishment_info_container'></div>
    <div id='endorsers_list_container'></div>
    <div id='establishment_photos_container'></div>
</div>

<!-- <div id='map_canvas_container'></div> -->
