[[ if (CurrentUser.get('id') == get('user_id')) { ]]
    <a class='delete_comment'>delete</a>
[[ } ]]

<div class='comment_container'>
    <a href='[[= get("path") ]]' class='avatar'><img class='avatar' src="[[= get('thumb_url') ]]"></a>
    
    <div class='content_container'>

        <a href='[[= get("path") ]]' class='user_name'>[[= get('full_name') ]]</a>

        <span class='comment_body'>[[= get('body') ]]</span>
    </div>
    <div class='date'>[[= get('formatted_time') ]]</div>
</div>