<div id='establishment_show_container'>
    <div class='column left'>
        <div id='establishment_info_container' class='card border'></div>
        
        <div id='lists_list_container' class='card'></div>
    </div>
    
    <div class="column right">
        <div class='map_canvas_container'>
            <div id='map_canvas'></div>
        </div>

        <div id='establishment_comments_container' class='card border grey'>
            <div id='comments_form_container'></div>

            <ul id='comments_list'></ul>

            <div class='pagination_container comments'></div>
        </div>
        
    </div>
</div>
