<div class='establishment_info_container'>
    <h3 class='biz_name'>[[= get('name') ]]</h3>
</div>

<div class="endorse_btn_container"></div>
<br class='clear'>

<p class='details small'>[[= get('neighborhood') ]] - [[ for (var i = 0; i < get('price'); i++) { ]]$[[ } ]]</p>

<div id='contact_info'>
    <p class='details'>[[= get('street_number') ]] [[= get('street') ]]</p>
    <p class='details'>[[= get('city') ]], [[= get('state') ]] [[= get('zipcode') ]]</p>

    <p class='details phone'>[[= get('phone') ]]</p>
    <a class='details website' href='[[= get('website') ]]' target='_blank'>[[= get('website') ]]</a>
</div>

<div id='establishment_photos_container'></div>

