<div id='establishment_show_container'>
    <div class='left_column'>
        <div id='establishment_container' class='card'></div>

        <div id='endorsers_list_container'>
            <h4>People Endorsing This Place</h4>
            <ul id='endorsers_list' class='card'></ul>
        </div>
    </div>
    
    <div class="right_column">
        <div id='map_canvas_container'></div>
    </div>
</div>

<!-- <div id='establishment_photos_container'></div> -->
