<form id='comment_form'>
    <h3>What makes [[= get('name') ]] awesome?</h3>
    <input id='comment_input' class='text_input' type='text' placeholder='Great burgers? Huge burritos? Friendly staff?'>
    <button class='btn text' type='submit'><%= image_tag "add_symbol.svg" %></button>
    <br class='clear'>
</form>
