<div id='establishment_show_container'>
    <div class='column left_column'>
        <div id='establishment_info_container' class='card border'></div>

        <div id='establishment_comments_container' class='card border grey'>
            <div id='comments_form_container'></div>

            <ul id='comments_list'></ul>

            <div class='pagination_container comments'></div>
        </div>
    </div>
    
    <div class="column right_column">
        <div class='map_canvas_container'>
            <div id='map_canvas'></div>
        </div>
        
        <div id='endorsers_list_container' class='card border grey'>
            <h3>Endorsers</h3>
            <ul id='endorsers_list' class='users_list'></ul>
            <div class='pagination_container endorsers'></div>
        </div>
    </div>
    <div id='login_modal_container'></div>
</div>
