<div class='inner_modal card'>
    <button class='cancel'>X</button>

    <div class='logo'><%= image_tag "logo.svg" %></div>

    <p>Find restaurants recommended by people you trust.</p>

    <div class='btn_container'>
        <a href="/users/sign_in" class='btn text'>Sign In</a>
        <a href="/users/sign_up" class='btn text'>Sign Up</a>
    </div>
</div>