<div class='contact_container'>
    <h3>Comments, questions, feedback?</h3>

    <div class='card border'>
        <a href="mailto:jen@yumhacker.com" target="_blank">jen@yumhacker.com</a>
        <a href="https://twitter.com/JenniferDewalt" target="_blank">Twitter</a>
        <a href="https://github.com/jendewalt/yumhacker" target="_blank">GitHub</a>
    </div>
</div>