<div class='contact_container'>
    <h3>Comments, questions, feedback?</h3>

    <div class='card border'>
        <a href="mailto:jen@yumhacker.com" target="_blank">jen@yumhacker.com</a>
        <a href="https://twitter.com/JenniferDewalt" target="_blank">Twitter</a>
        <a href="https://github.com/jendewalt/yumhacker" target="_blank">GitHub</a>

        <div id='other_projects'>
            <h3>Check out my other projects</h3>
            <a href="http://jenniferdewalt.com">180 Websites in 180 Days</a>
            <a href="http://getzube.com">zube</a>
        </div>
    </div>
</div>