<div id='current_location_text'>
    <div id='current_location'>[[= Client.get('formatted_address') ]]</div>
</div>

<div id='current_location_links'>
    <a href="" id='change_location'>Change Location</a>
    <a href="" class='btn text map_btn nav'>Map</a>
</div>
