<div class='footer_wrap'>
    <ul class='horizontal'>
        <li>
            <a href="/contact">Contact</a>
        </li>
        <li>
            <a href="/privacy">Privacy Policy</a>
        </li>
        <li>
            <a href="/terms">Terms</a>
        </li>
    </ul>
</div>