<div id='subfooter'>
    <p>Browse all <a href="/users">YumHackers</a></p>
</div>

<div id='footer_wrap'>
    <ul class='horizontal'>
        <li id='blog_link'>
            <a href="http://blog.yumhacker.com">Blog</a>
        </li>
        <li>
            <a href="/contact" class='nav'>Contact</a>
        </li>
        <li>
            <a href="/privacy" class='nav'>Privacy Policy</a>
        </li>
        <li>
            <a href="/terms" class='nav'>Terms</a>
        </li>
    </ul>
</div>