<a>Search</a>
<ul class='sub_menu'>
    <li class='sub_menu_opt'>
        <a href="/users/search" class='nav'>Find Friends</a>
    </li>

    <li class='sub_menu_opt'>
        <a href="/restaurants/search" class='nav'>Find Restaurants</a>
    </li>
</ul>