<ul class='dropdown'>
    <li>
        <a>Search</a>
        <ul class='sub_menu'>
            <li>
                <a href="/restaurants/search" class='nav'>Find Restaurants</a>
            </li>

            <li>
                <a href="/users/search" class='nav'>Find Friends</a>
            </li>
        </ul>
    </li>
</ul>