<div id='current_location_text'>
    <div id='current_location'>[[= Client.get('formatted_address') ]]</div>
</div>

<div id='current_location_links'>
    <a href="" id='change_location'>Change Location</a>
    <a href="[[= 'restaurants?' + encodeURIComponent($.param(_.extend(Location.predicate(), Filter.predicate(), Client.predicate()))) ]]" class='btn text map_btn nav'>Map</a>
</div>
