<form id='establishment_search_form'>
    <fieldset>        
        <div id='location_container'>
            <input id='location_input' type='text' value="[[= MainSearch.get('location_name') ]]">
            <a href='/' id='nearby_btn'><%= image_tag "current_location.svg" %></a>
            <br class="clear">
        </div>
        
        <div id='submit_container'>
            <button class='btn' type='submit' value='submit'>
                <span><%= image_tag "search_icon.svg" %></span>
            </button>
        </div>
    </fieldset>
</form>

<div id='other_search_links_container'>
    <a href='/restaurants/search' class='nav'>Find a Restaurant</a>    
    <a href='/users/search' class='nav'>Find Friends</a>
</div>

