<h1>Change Location</h1>
<form id='main_search_form'>
    <fieldset>        
        <div id='location_container'>
            <input id='location_input' type='text' value="[[= Client.get('formatted_address') ]]">
            <a href='/' id='nearby_btn'><%= image_tag "current_location.svg" %></a>
            <br class="clear">
        </div>
        
        <div id='submit_container'>
            <button class='btn' type='submit' value='submit'>
                <span><%= image_tag "search_icon.svg" %></span>
            </button>
        </div>
    </fieldset>
</form>
