<div class='pagination_controls'>
    <div class='pagination prev'>
        [[ if (current_page !== 1) { ]]
            [[ var prev_page = Number(current_page) - 1 ]]
            <a class='page prev' rel='[[= prev_page ]]'>Prev</a>
        [[ } ]]
    </div>

    <div class='pagination counter'>
        <p>Page [[= current_page ]] of [[= (total_pages == 0 ? 1 : total_pages) ]] </p>
    </div>

    <div class='pagination next'>
        [[ if (current_page !== total_pages && total_pages !== 0) { ]]
            [[ var next_page = Number(current_page) + 1 ]]
            <a class='page next' rel='[[= next_page ]]'>Next</a>
        [[ } ]]
    </div>

    <br class='clear'>
</div>