
<%= image_tag 'fb_share_icon.svg', :id => 'facebook_share', :class => 'social_btn at-share-btn' %>

<div class="addthis_sharing_toolbox social_btn" addthis:title="[[= get('title') ]]" addthis:description="[[= get('description') ]]" ></div>
