<h1>Add to List</h1>

<div class='biz_name'>[[= get('name') ]]</div>
<div class='details'>[[= get('street_number') ]] [[= get('street') ]]</div>

<form id='add_listing_to_list_form'>
    <div id='list_selection_container'></div>
    <input id='listing_comment_input' type='text' placeholder='Add a comment'>
    <input type='submit'>
</form>