<h1>Create a new list</h1>

<form id='create_new_list_form'>
    <label>List Title:</label><input id='list_title_input' type='text' placeholder='Best Burritos, Cheap and Tasty, Date Night...'>

    <label>List Description:</label><input id='list_title_input' type='text' placeholder='These are all of my favorite Thai Restaurants!'>

    <input type='submit'>
</form>