<div id='list_photo_container'></div>

<div id='list_title_info_container'>
    <div id='title_container'>
        [[ if (get('type') === 'WishList') { ]]
            <h1 title='Wish List title cannot be changed.'>[[= get('title') ]]</h1>            
        [[ } else { ]]
            <textarea name='title' class='list_info_input' id='title_input' maxlength='255'>[[= get('title') ]]</textarea>
            <a id='delete_list' class='delete'>Delete List</a>
        [[ } ]]
    </div>

    <div id='title_lower_row'>
        <div id="list_user_info_container">
            <a id='list_user_photo' class='nav' href="/[[= CurrentUser.get('path') ]]">
                <img src="[[= CurrentUser.get('thumb_url') ]]" alt="[[= CurrentUser.get('full_name') ]]">
            </a>

            <div id="list_user_text">
                <a id='list_user_name' class='nav' href="/[[= CurrentUser.get('path') ]]">[[= CurrentUser.get('full_name') ]]</a>
                <p id='list_updated_at'>Updated [[= get('formatted_time') ]]</p>
            </div>
        </div>

        <div class='list_action_btn_container'>
            <div id='edit_list_button'>
                <a href="[[= /lists/ + get('slug') ]]" id='save_btn' class='btn text green_btn'>Save List</a>
            </div>
            <br class='clear'>
        </div>
    </div>
</div>

<br class='clear'>

