<div id='edit_list_image_selector_container' class='search_container'>
    <h1>Upload a New Photo</h1>
    <div id='upload_image_form_container' class='upload_prompt_btn'></div>

    <p>- OR -</p>

    <h1>Choose from Your Existing Photos</h1>
    <ul id='user_images_list'></ul>
</div>
