<div class='comment_container'>
    <div class='content_container'>
        <form class='comment_form'>
            [[ if (get('body')) { ]]
                <textarea class='comment_input text_input'>[[= get('body') ]]</textarea>
                <div class='date'>[[= get('formatted_time') ]]</div>
            [[ } else { ]]
                <textarea class='comment_input text_input' placeholder='What do you love about this place?'></textarea>
            [[ } ]]
            
            <input type='submit' value='Save' class='btn text'>
        </form>
    </div>
</div>
