<div class='comment_container'>
    <div class='content_container'>
        [[ if (get('body')) { ]]
            <input class='comment_input text_input' value="[[= get('body') ]]">
            <div class='date'>[[= get('formatted_time') ]]</div>
        [[ } else { ]]
            <input class='comment_input text_input' type='text' placeholder='Great burgers? Huge burritos? Friendly staff?'>
        [[ } ]]
    </div>
</div>
