<div id='list_photo_image_container'></div>

<div id='add_photo_modal_btn_container' class='upload_prompt_btn'>
    <label id='add_photo_modal_btn'>Pick a new photo<button><%= image_tag "camera_icon.svg" %></button></label>
</div>
