<div id='list_photo_container'><img alt='***List Photo***'></div>

<div id='list_title_info_container'>
    <div id='title_container'>
        <textarea name='title' id='title_input'>[[= get('title') ]]</textarea>
    </div>

    <div id='title_lower_row'>
        <div id="list_user_info_container">
            <a id='list_user_photo' class='nav' href="/[[= get('user_path') ]]">
                <img src="[[= get('user_thumb_url') ]]" alt="[[= get('user_full_name') ]]">
            </a>

            <div id="list_user_text">
                <a id='list_user_name' class='nav' href="/[[= get('user_path') ]]">[[= get('user_full_name') ]]</a>
                <p id='list_created_at'>Created [[= get('formatted_time') ]] (CURRENTLY EDITING)</p>
            </div>
        </div>

        <div id='list_favorite_button'></div>
        <br class='clear'>
    </div>
</div>

<br class='clear'>