<div id='list_edit_container' class='sticky_map_container'>
    [[ if (get('user_id') !== CurrentUser.get('id') && CurrentUser.get('admin')) { ]]
        <div id='admin_flag' class='card'>
            <p>EDITING LIST AS ADMIN</p>
        </div>
    [[ } ]]

    <div id='list_title_container' class='card border'></div>

    <div id='columns_container'>
        <div class='column left'>
            <div id='list_description_container' class='card border grey'></div>
            
            <div id='listings_container' class='card'></div>
        </div>

        <div class='column right sticky_column'>
            <div id='main_map_pane'>
                <div class='map_canvas_container'>
                    <div id='map_canvas'></div>
                </div>
            </div>
        </div>
        <br class='clear'>
    </div>
</div>