<div class='list_photo_container'>
    <a href="[[= get('path') ]]" class='nav'>
        <img class='list_photo' src="[[= get('small_url')]]">
    </a>
</div>

<div class='list_info_container'>
    <div class='list_title_container'>
        <a href="[[= get('path') ]]" class='nav'>[[= get('title') ]]</a>
    </div>

    [[ if (get('show_description') && get('description')) { ]]
        <p class='description'>[[= get('description') ]]</p>
    [[ } else  { ]]
        <div class='list_user_container'>
            <div class="list_user_info_container">
                <a class='list_user_photo nav' href="/[[= get('user_path') ]]">
                    <img src="[[= get('user_thumb_url') ]]" alt="[[= get('user_full_name') ]]">
                </a>

                <div class="list_user_text">
                    <a class='list_user_name nav' href="/[[= get('user_path') ]]">[[= get('user_full_name') ]]</a>
                    <p>Updated [[= get('formatted_time') ]]</p>
                </div>
            </div>
        </div>
    [[ } ]]
</div>

<div class='favorite_btn_container'></div>
<br class='clear'>
