<div class="establishment_info">
    <a href='[[= get("path") ]]' class='biz_name'>[[= get('name') ]]</a>
    <div class='categories_container'></div>

    [[ if (get('street_number') && get('street')) { ]]
        <p class="details">[[= get('street_number') ]] [[= get('street') ]]</p>
    [[ } ]]

     [[ if (get('city') && get('state')) { ]]
        <p class='details'>[[=  get('city') ]], [[= get('state') ]]</p>
    [[ } ]]
</div>

<div class='listing_comment_container'></div>