<h1>[[= get('title') ]]</h1>
<div id="user_info_container">
    <a href="[[= get('user_path') ]]">
        <img src="[[= get('user_thumb_url') ]]" alt="[[= get('user_full_name') ]]">
    </a>

    <div id="user_info">
        <a href="[[= get('user_path') ]]">[[= get('user_full_name') ]]</a>
        <p>Created [[= get('formatted_time') ]]</p>
    </div>
</div>