<div class="establishment_info">
    <a href='[[= get("path") ]]' class='biz_name'>[[= get('name') ]]</a>

    [[ if (get('street_number') && get('street')) { ]]
        <p class="details">[[= get('street_number') ]] [[= get('street') ]]</p>
    [[ } ]]

     [[ if (get('city') && get('state') && get('zip_code')) { ]]
        <p class='details'>[[=  get('city') ]], [[= get('state') ]] [[= get('zip_code') ]]</p>
    [[ } ]]
</div>