<div id='list_show_container' class='sticky_map_container'>
    <div id='list_title_container' class='card border'></div>

    <div class='column left'>
        <div id='list_description_container' class='card border grey'></div>
        
        <div id='listings_container' class='card'>
            <ol class='establishments_list'></ol>
            <div class='pagination_container'></div>
        </div>
    </div>

    <div class='column right'>
        <div id='main_map_pane'>
            <div class='map_canvas_container'>
                <div id='map_canvas'></div>
            </div>
        </div>
    </div>
    <br class='clear'>
</div>