[[ if (get('small_url')) { ]]
    <div id='list_photo_container'>
        <img id='list_photo' src="[[= get('small_url')]]">
    </div>
[[ } ]]

<div id='list_title_info_container'>
    <div id='title_container'>
        <h1>[[= get('title') ]]</h1>
    </div>

    <div id='title_lower_row'>
        <div id="list_user_info_container">
            <a id='list_user_photo' class='nav' href="/[[= get('user_path') ]]">
                <img src="[[= get('user_thumb_url') ]]" alt="[[= get('user_full_name') ]]">
            </a>

            <div id="list_user_text">
                <a id='list_user_name' class='nav' href="/[[= get('user_path') ]]">[[= get('user_full_name') ]]</a>
                <p id='list_updated_at'>Updated [[= get('formatted_time') ]]</p>
            </div>
        </div>

        <div class='list_action_btn_container'>
            [[ if (CurrentUser.logged_in() && CurrentUser.id === get('user_id')) { ]]
                <div id='edit_list_button'>
                    <a href="[[= '/' + get('edit_path') ]]" class='edit btn text nav'>Edit List</a>
                </div>
            [[ } ]]

            <div id='list_favorite_button'></div>
            <br class='clear'>
        </div>
    </div>
</div>

<br class='clear'>