<div id='list_show_container'>
    <div id='list_title_container'></div>

    <div class='column left'>
        <div id='list_description_container'></div>
        <ol id='listings_container'></ol>
    </div>

    <div class='column right'></div>
</div>