<div id='list_show_container' class='sticky_map_container'>
    <div id='list_title_container' class='card border'></div>

    <div id='columns_container'>
        <div class='column left'>
            <div id='list_description_container' class='card border grey'></div>
            
            <div id='listings_container' class='card'>
                <ol class='establishments_list'></ol>
                <div class='pagination_container'></div>
            </div>
        </div>

        <div class='column right sticky_column'>
            <div id='main_map_pane'>
                <div class='map_canvas_container'>
                    <div id='map_canvas'></div>
                </div>
            </div>
        </div>
        <br class='clear'>
    </div>
</div>

<!-- Google Code for View Web Form AdWords Conversion Page -->
<script type="text/javascript">
    /* <![CDATA[ */
    var google_conversion_id = 978474554;
    var google_conversion_language = "en";
    var google_conversion_format = "3";
    var google_conversion_color = "ffffff";
    var google_conversion_label = "ZNFqCIa4pwgQuqzJ0gM";
    var google_remarketing_only = false;
    /* ]]> */

    // save old document.write
    var oldDocumentWrite = document.write; 

    // change document.write temporary
    document.write = function (node){
        $("body").append(node);
    }

    // get script
    $.getScript( "http://www.googleadservices.com/pagead/conversion.js", function () {
        // replace the temp document.write with the original version
        setTimeout(function() {
            document.write = oldDocumentWrite;
        }, 100)
    });
</script>

<div style="display:inline;">
    <img height="1" width="1" style="border-style:none;" alt="" src="//www.googleadservices.com/pagead/conversion/978474554/?label=ZNFqCIa4pwgQuqzJ0gM&amp;guid=ON&amp;script=0"/>
</div>

