<div class="establishment_info">
    <a href='/[[= get("path") ]]' class='biz_name'>[[= get('name') ]]</a>
    <div class='categories_container'></div>

    [[ if (get('street_number') && get('street')) { ]]
        <p class="details">[[= get('street_number') ]] [[= get('street') ]]</p>
    [[ } ]]

     [[ if (get('city') && get('state')) { ]]
        <p class='details'>[[=  get('city') ]], [[= get('state') ]]</p>
    [[ } ]]
</div>

<div class='establishment_action_btn_container'>
    <div class='add_to_list_btn_container'>
        <a class='add_to_list_btn btn unengaged text'>Add to List</a>
    </div>

    <div class='wish_list_btn_container'></div>
    <div class='endorse_btn_container'></div>
</div>
<br class='clear'>

<div class='listing_comment_container'></div>