body.yumhacker {
    $magenta: #e91367;
    $dark-magenta: #d9114a;
    $blue: #0d70eb;
    $green: #2BA81C;
    $dark-green: #15510d;
    $dark-blue: #094da1;
    $dark-grey: #313136;
    $mid-grey: #737378;
    $light-grey: #c1c1c3;
    $x-light-grey: #F1F1F3;
    $input-glow: rgba(233, 19, 103, 0.2);

    .btn {
        border: none;
        display: inline-block;
        vertical-align: middle;
        margin: 0;
        font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
        font-size: 11px;
        text-decoration: none;
        text-transform: uppercase;
        letter-spacing: 2px;
        background-color: $magenta;
        color: white;
        border-radius: 2px;
        cursor: pointer;
        font-weight: 300;

        &.text {
            width: 100px;
            height: 22px;
            line-height: 22px;
            padding-top: 0;
            padding-bottom: 0;
            text-align: center;
        }
    
        &:active {
            background-color: $dark-magenta;
            color: #000;
            box-shadow: 0 3px 3px rgba(0,0,0,0.1) inset;
        }
        
        &.edit {
            width: 110px; 
            background-color: $light-grey;
            border-bottom: 1px solid #9E9EA8;

            &:hover {
                color: #59595e;            
            }
        }

        &.blue_btn {
            background-color: $blue;
            color: white;

            &:active {
                background-color: $dark-blue;
                color: #000;
                box-shadow: 0 3px 3px rgba(0,0,0,0.1) inset;
            }
        }
        
        &.engaged {
            color: $light-grey;
            background-color: white;
            border: 1px solid $x-light-grey;

            &.hover:hover {
                font-weight: normal;
                background-color: $light-grey;
                color: #59595e;
            }

            &.disabled {
                cursor: default;
                &:active {
                    box-shadow: none;
                }
            }
        }

        &.green_btn {
            display: block;
            background: $green;

            &:active {
                background-color: $dark-green;
                color: #000;
                box-shadow: 0 3px 3px rgba(0,0,0,0.1) inset;
            }
        }
    }

    .establishment_action_btn_container {
        float: right;
    }

    .list_action_btn_container {
        float: right;

        div {
            display: inline-block;
        }

        .btn {
            display: inline-block;
            margin-left: 10px;
            width: 120px;
            height: 28px;
            line-height: 28px;
            font-size: 13px;            
        }
    }

    a.delete {
        position: absolute;
        top: 10px;
        right: 10px;
        color: $light-grey;
        font-size: 9px;
        cursor: pointer;

        &:hover {
            color: $dark-grey;
            text-decoration: underline;
        }
    }

    .upload_prompt_btn {
        label {
            font-size: 11px;
            line-height: 20px;
            color: $mid-grey;
            cursor: pointer;
        }

        button {
            margin: 3px 0 0 6px;
            padding: 0;
            background-color: transparent;
            border: none;
            cursor: pointer;
            vertical-align: bottom;

            img {
                height: 20px;
            }
        }

        input[type="file"] {
            position:absolute;
            display:none;
        }

        .upload_throbber_container {
            display: inline-block;
            height: 20px;

            .throbber.upload {
                display: none;
                padding: 4px;
            }
        }
    }
}
