body.yumhacker {
    $magenta: #e91367;
    $dark-magenta: #d9114a;
    $blue: #0d70eb;
    $dark-blue: #094da1;
    $dark-grey: #313136;
    $mid-grey: #737378;
    $light-grey: #c1c1c3;
    $x-light-grey: #F1F1F3;

    .devise_form {
        width: 400px;
        margin: auto;

        &#edit_profile_container {
            margin: 20px auto;
        }

        .error {
            padding: 20px;
            line-height: 20px;
        }
        
        .logo {
            display: inline-block;
            padding: 30px;
            font-size: 30px;
            font-weight: bold;
            color: $magenta;
            text-decoration: none;
        }

        .form_container {
            width: 100%;
            margin: auto;

            .social_link {
                padding: 10px;
            }

            .or {
                color: $mid-grey;
                padding: 20px;
            }


            h3 {
                padding: 10px;
                font-size: 20px;
                color: $mid-grey;
            }

            .inputs_container {
                padding: 10px 30px;
                text-align: left;

                .field {
                    margin-bottom: 10px;

                    label {
                        font-size: 13px;
                        margin-bottom: 5px;
                    }

                    input {
                        width: 100%;

                        &[type='checkbox'] {
                            width: initial;
                            height: 12px;
                            padding: 0;
                            margin: 0;
                        }

                        &.check {
                            label {
                                padding: 0;
                            }
                        }
                    }
                }

                .btn {
                    margin-top: 10px;
                }
            }
        }

        .devise_links {
            margin: 20px 0;
            line-height: 20px;
            text-align: right;
            color: $mid-grey;
            
            a {
                color: $blue;

                &.small {
                    font-size: 11px;
                    color: $mid-grey;

                    &:hover {
                        color: $blue;
                    }
                }
            }
        }

        .cancel_container {
            padding: 20px;

            a {
                display: block;
                margin-bottom: 20px;
                color: $blue;
            }
        }

        #error_explanation {
            background-color: $x-light-grey;
            padding: 10px;
            font-size: 13px;

            h2 {
                font-weight: bold;
                font-size: 16px;
            }

            ul {
                padding: 5px;

                li {
                    padding: 3px;
                    line-height: 16px;
                }
            }
        }
    }
}