#establishment_edit_container {
    #flash_notice {
        margin: 10px auto;
        padding: 10px;
        background-color: rgba(255, 255, 255, 0.9);
    }

    h1 { padding: 20px; }
    h3 { padding-bottom: 10px; }
    br#category_and_checkbox_clear{ clear: both; }
    .category_and_checkbox {
        float:left;
        width:24%;
        text-align:right;
    }

    #submit_button_container {
        padding:20px;
    }
}