body.yumhacker {
    $magenta: #e91367;
    $dark-magenta: #d9114a;
    $blue: #0d70eb;
    $green: #2BA81C;
    $dark-blue: #094da1;
    $dark-grey: #313136;
    $mid-grey: #737378;
    $light-grey: #c1c1c3;
    $x-light-grey: #F1F1F3;
    $input-glow: rgba(233, 19, 103, 0.2);

    font-family: "Avant Garde", Avantgarde, "Century Gothic", CenturyGothic, "AppleGothic", sans-serif;
    letter-spacing: 1px;
    text-align: center;
    color: $dark-grey;
    overflow-y: scroll;
    background-color: $x-light-grey;
    word-break: break-word;
    word-wrap: break-word;

    ol {
        display: inline-block;
        vertical-align: top;
        text-align: left;
        list-style-type: decimal;
        list-style-position:inside;
    }

    .text_input {
        height: 30px;
        margin-top: 5px;
        padding: 0 5px;
        line-height: 20px;
        font-size: 16px;
        color: $dark-grey;
        border-radius: 3px;
        box-shadow: none;
        border: 1px solid $light-grey;
        word-break: normal;
        word-wrap: normal;
    }

    #main_container {
        display: inline-block;
        width: 1000px;
        padding: 20px 0 60px;
    }

    ol.establishments_list, ul.establishments_list {
        width: 100%;

        li {
            text-align: left;
            padding: 5px 10px;
            line-height: 30px;
            border-bottom: 1px solid $light-grey;
        
            &:last-child {
                border-bottom: none;
            }
        }
    }

    .establishment_info {
        display: inline-table;
        table-layout: fixed;
        width: 65%;

        a.biz_name {
            cursor: pointer;
            color: $blue;
            font-weight: bold;
            text-decoration: none;
            line-height: 26px;

            &:hover {
                text-decoration: underline;
            }
        }

        .details {
            font-size: 13px;
            color: $mid-grey;
            line-height: 18px;
            max-width: 400px;

            &.extra {
                padding-top: 8px;
            }
        }

        .phone {
            text-decoration: none;
            cursor: default;
        }

        .price {
            float: left;
            margin-right: 10px;
        }

        a.website {
            float: left;
            line-height: 18px;
            text-overflow: ellipsis;
            max-width: 80%;
            white-space: nowrap;
            overflow: hidden;
        }

        .website:hover {
            color: $blue;
        }
    }

    ul.users_list {
        width: 100%;

        li {
            padding: 5px 10px;
            line-height: 30px;
            border-bottom: 1px solid $light-grey;
        
            &:last-child {
                border-bottom: none;
            }

            .user_container {
                float: left;
                height: 100%;
            }

            a.user {
                float: left;
                text-decoration: none;
                color: $mid-grey;
                cursor: pointer;

                &:hover {
                    text-decoration: underline;
                    color: $blue;
                }

                img {
                    height: 30px;
                    width: 30px;
                    margin-right: 10px;
                    vertical-align: bottom;
                }
            }

            .follow_btn_container {
                float: right;
                text-align: center;
            }
        }
    }

    .btn {
        border: none;
        display: inline-block;
        vertical-align: middle;
        margin: 0;
        font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
        font-size: 11px;
        text-decoration: none;
        text-transform: uppercase;
        letter-spacing: 1px;
        background-color: $magenta;
        color: white;
        border-radius: 2px;
        cursor: pointer;

        &.text {
            width: 92px;
            height: 22px;
            line-height: 22px;
            padding-top: 0;
            padding-bottom: 0;
            text-align: center;
        }

        &:active {
            background-color: $dark-magenta;
            color: #000;
            box-shadow: 0 3px 3px rgba(0,0,0,0.1) inset;
        }
    }

    .card {
        background-color: white;
        padding: 10px 20px;
        border-radius: 2px;
        box-shadow: 0 0 1px rgba(0, 0, 0, 0.1);
        
        &.border {
            border-top: 3px solid $magenta;

            &.grey {
                border-color: $light-grey;
            }
        }
    }

    .throbber {
        text-align: center;
        padding: 10px;

        &.upload {
            margin-top: 5px;
            padding: 5px;
            font-size: 11px;
            border-top: 1px solid $magenta;
        }
    }

    .column {
        padding: 20px 10px;
    }

    .endorse_btn_container {
        float: right;
        display: inline;

    }
    
    .endorsing, .following {
        color: $light-grey;
        background-color: white;
        border: 1px solid $x-light-grey;

        &:hover {
            font-weight: normal;
            background-color: $light-grey;
            color: #59595e;
        }
    }

    .pagination_container {
        padding: 10px;
        padding-bottom: 0;
        border-top: 1px solid $light-grey;

        .pagination_controls {
            width: 80%; 
            text-align: center;
            margin: auto;

            a {
                color: $blue;
                cursor: pointer;

                &:hover {
                    text-decoration: underline;
                }
            }

            .pagination {
                display: inline-block;
                vertical-align: bottom;
                height: 30px;
                line-height: 30px;
                font-size: 11px;


                &.prev {
                    float: left;
                    width: 30%;
                }

                &.counter {
                    float: left;
                    text-align: center;
                    width: 40%;
                }

                &.next {
                    float: right;
                    width: 30%;
                }
            }
        }
    }

    .hours_container {
        font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
        margin-top: 8px;
        width: 400px;

        table {
            tr {
                &.today{
                    td {
                        font-weight: bold;
                        color: $dark-grey;
                    }    
                }
                
                td {
                    padding: 3px;
                    line-height: 11px;
                    font-size: 11px;
                    color: $mid-grey;
                }
            }
        }
    }

    #login_modal_container {
        display: none;
        position: fixed;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        text-align: center;
        background-color: rgba(241, 241, 243 ,0.93);
        z-index: 100;

        .inner_modal {
            position: relative;
            width: 600px;
            margin: 50px auto;
            padding: 40px;
            border: 1px solid $light-grey;

            .cancel {
                position: absolute;
                top: 20px;
                right: 20px;
                text-decoration: none;
                color: $mid-grey;
                background-color: white;
                border:none;
                cursor:pointer;
            }

            .logo {
                margin-bottom: 20px; 
                img {
                    height: 40px;
                }
            }

            p {
                margin: 10px 0 30px;
                line-height: 16px;
                color: $mid-grey;
            }

            .btn_container {
                padding-top: 40px;
                border-top: 1px solid $light-grey;

                .btn {
                    height: 40px;
                    width: 160px;
                    margin: 0 15px;
                    line-height: 40px;
                    font-size: 16px;
                }
            }
        }
    }

    #search_wrapper {
        width: 500px;
        margin: auto;
        
        .search_container {
            margin: 20px auto;
            padding: 20px;

            h3 {
                padding: 10px;
                font-size: 20px;
                color: $mid-grey;
            }

            form {  
                margin: 10px auto;
                text-align: left;
                width: 380px;

                .field {
                    margin-bottom: 10px;
                }

                label {
                    vertical-align: bottom;
                    font-size: 13px;
                    color: $mid-grey;
                }

                .text_input {
                    width: 100%;
                }

                .btn {
                    margin-top: 10px;
                }
            }

        }
        #find_establishment_results {
            text-align: left;

            .biz_name:hover {
                text-decoration: none;
                cursor: auto;
            }
        }
    }

    .geocode_error {
        line-height: 28px;
    }
    
    .center {
        display: block;
        margin: auto;
        text-align: center;
    }

    .clear {
        clear: both;
    }

    // ADMIN

    #admin_establishment_edit {
        position: absolute;
        bottom: 50px;
    }
}
