body.yumhacker {
    $magenta: #e91367;
    $dark-magenta: #d9114a;
    $blue: #0d70eb;
    $green: #2BA81C;
    $dark-green: #15510d;
    $dark-blue: #094da1;
    $dark-grey: #313136;
    $mid-grey: #737378;
    $light-grey: #c1c1c3;
    $x-light-grey: #F1F1F3;
    $input-glow: rgba(233, 19, 103, 0.2);

    font-family: "Avant Garde", Avantgarde, "Century Gothic", CenturyGothic, "AppleGothic", sans-serif;
    letter-spacing: 1px;
    text-align: center;
    color: $dark-grey;
    overflow-y: scroll;
    background-color: $x-light-grey;
    word-break: break-word;
    word-wrap: break-word;

    #main_container {
        display: inline-block;
        width: 1000px;
        padding: 20px 0 60px;
    }

    .column {
        float: left;
        padding: 20px 0;
    }

    .column.left {
        width: 55%;
        padding: 20px 20px 20px 0;
    }

    .column.right {
        width: 45%;
    }

    ol {
        display: inline-block;
        vertical-align: top;
        text-align: left;
        list-style-type: decimal;
        list-style-position:inside;
    }

    img {
        border-radius: 2px;
        box-shadow: 0 0 1px rgba(0, 0, 0, 0.1);
    }

    .text_input {
        height: 30px;
        margin-top: 5px;
        padding: 0 5px;
        line-height: 20px;
        font-size: 16px;
        color: $dark-grey;
        border-radius: 3px;
        box-shadow: none;
        border: 1px solid $light-grey;
        word-break: normal;
        word-wrap: normal;
    }

    .card {
        background-color: white;
        padding: 10px 20px;
        border-radius: 2px;
        box-shadow: 0 0 1px rgba(0, 0, 0, 0.1);
        
        &.border {
            border-top: 3px solid $magenta;

            &.grey {
                border-color: $light-grey;
            }
        }
    }

    #main_map_pane {

        .map_canvas_container {
            #map_canvas {
                width: 100%;
                height: 500px;
            }
        }
    }

    /* Class to have map follow scroll */

    #columns_container {
        position: relative;
        min-height: 500px;

        .sticky_column {
            position: absolute;
            top: 0;
            right: 0;
        }
    }

    ol.establishments_list, ul.establishments_list {
        width: 100%;

        li {
            text-align: left;
            padding: 5px 10px;
            line-height: 30px;
            border-bottom: 1px solid $light-grey;
        
            &:last-child {
                border-bottom: none;
            }
        }
    }

    .establishment_info {
        display: inline-table;
        table-layout: fixed;
        width: 65%;

        a.biz_name {
            cursor: pointer;
            color: $blue;
            font-weight: bold;
            text-decoration: none;
            line-height: 26px;

            &:hover {
                text-decoration: underline;
            }
        }

        .details {
            font-size: 13px;
            color: $mid-grey;
            line-height: 18px;
            max-width: 400px;

            &.extra {
                padding-top: 8px;
            }

            &.category {
                display: inline-block;
                font-size: 11px;
            }
        }

        .categories_container {
            line-height: 13px;
            margin: 0 0 5px 0;
        }

        .phone {
            text-decoration: none;
            cursor: default;
        }

        .price {
            float: left;
            margin-right: 10px;
        }

        a.website {
            float: left;
            line-height: 18px;
            text-overflow: ellipsis;
            max-width: 80%;
            white-space: nowrap;
            overflow: hidden;
        }

        .website:hover {
            color: $blue;
        }
    }

    ul.users_list {
        width: 100%;

        li {
            padding: 5px 10px;
            line-height: 30px;
            border-bottom: 1px solid $light-grey;
        
            &:last-child {
                border-bottom: none;
            }

            .user_container {
                float: left;
                height: 100%;
            }

            a.user {
                float: left;
                text-decoration: none;
                color: $mid-grey;
                cursor: pointer;

                &:hover {
                    text-decoration: underline;
                    color: $blue;
                }

                img {
                    height: 30px;
                    width: 30px;
                    margin-right: 10px;
                    vertical-align: bottom;
                }
            }

            .follow_btn_container {
                float: right;
                text-align: center;
            }
        }
    }


    ul.lists {
        a {
            display: block;
            text-decoration: none;
            color: $blue;
        }

        li {
            padding: 10px;
            border-bottom: 1px solid $light-grey;
        
            &:last-child {
                border-bottom: none;
            }
            
            .list_photo_container {
                display: inline-block;
                vertical-align: top;
                
                img {
                    height: 60px;
                    width: 60px;
                }
            }

            .list_info_container {
                display: inline-block;
                vertical-align: top;
                width: 400px;
                margin-left: 10px;
                font-size: 18px;

                .list_title_container {
                    line-height: 24px;
                }

                .list_user_info_container {
                    margin-top: 5px;

                    .list_user_photo {
                        display: inline-block;
                        vertical-align: top;
                    }

                    .list_user_text {
                        display: inline-block;
                        vertical-align: top;
                        width: 300px;
                        font-size: 13px;
                        line-height: 20px;

                        p {
                            font-size: 11px;
                            line-height: 15px;
                            color: $mid-grey;
                        }
                    }
                }

            }
        }
    }

    .pagination_container {
        padding: 10px;
        padding-bottom: 0;
        border-top: 1px solid $light-grey;

        .pagination_controls {
            width: 80%; 
            text-align: center;
            margin: auto;

            a {
                color: $blue;
                cursor: pointer;

                &:hover {
                    text-decoration: underline;
                }
            }

            .pagination {
                display: inline-block;
                vertical-align: bottom;
                height: 30px;
                line-height: 30px;
                font-size: 11px;


                &.prev {
                    float: left;
                    width: 30%;
                }

                &.counter {
                    float: left;
                    text-align: center;
                    width: 40%;
                }

                &.next {
                    float: right;
                    width: 30%;
                }
            }
        }
    }

    .hours_container {
        font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
        margin-top: 8px;
        width: 400px;

        table {
            tr {
                &.today{
                    td {
                        font-weight: bold;
                        color: $dark-grey;
                    }    
                }
                
                td {
                    padding: 3px;
                    line-height: 11px;
                    font-size: 11px;
                    color: $mid-grey;
                }
            }
        }
    }

    a.delete {
        position: absolute;
        top: 10px;
        right: 10px;
        color: $light-grey;
        font-size: 9px;
        cursor: pointer;

        &:hover {
            color: $dark-grey;
            text-decoration: underline;
        }
    }

    .upload_prompt_btn {
        label {
            font-size: 11px;
            color: $mid-grey;
            cursor: pointer;
        }

        button {
            margin: 3px 0 0 6px;
            padding: 0;
            background-color: transparent;
            border: none;
            cursor: pointer;
            vertical-align: bottom;

            img {
                height: 20px;
            }
        }

        input[type="file"] {
            position:absolute;
            display:none;
        }

        .upload_throbber_container {
            display: none;
        }
    }

    #search_wrapper {
        width: 500px;
        margin: auto;
        
        .search_container {
            margin: 20px auto;
            padding: 20px;

            h3 {
                padding: 10px;
                font-size: 20px;
                color: $mid-grey;
            }

            form {  
                margin: 10px auto;
                text-align: left;
                width: 380px;

                .field {
                    margin-bottom: 10px;
                }

                label {
                    vertical-align: bottom;
                    font-size: 13px;
                    color: $mid-grey;
                }

                .text_input {
                    width: 100%;
                }

                .btn {
                    margin-top: 10px;
                }
            }

        }
        #find_establishment_results {
            text-align: left;

            .biz_name:hover {
                text-decoration: none;
                cursor: auto;
            }
        }
    }

    .throbber {
        text-align: center;
        padding: 10px;

        &.upload {
            margin-top: 5px;
            padding: 5px;
            font-size: 11px;
            border-top: 1px solid $magenta;
        }
    }

    .geocode_error {
        line-height: 28px;
    }
    
    .center {
        display: block;
        margin: auto;
        text-align: center;
    }

    .clear {
        clear: both;
    }

    // ADMIN

    #admin_establishment_edit {
        position: absolute;
        bottom: 10px;
        right: 20px;
    }
}
