body.yumhacker {
    $magenta: #e91367;
    $dark-magenta: #d9114a;
    $blue: #0d70eb;
    $green: #2BA81C;
    $dark-blue: #094da1;
    $dark-grey: #313136;
    $mid-grey: #737378;
    $light-grey: #c1c1c3;
    $x-light-grey: #F1F1F3;

    header {
        min-width: 1000px;
        background-color: white;
        border-bottom: 1px solid $magenta;
    }

    nav {
        width: 1000px;
        margin: auto;
        padding: 10px 0;

        a.logo {
            float: left;
            height: 33px;
            line-height: 33px;
            color: $magenta;
            text-decoration: none;
        }

        #current_location_container {
            float: left;                
            padding-left: 30px;
            text-align: left;
            height: 33px;
            line-height: 33px;
            width: 300px;

            #current_location {
                line-height: 20px;
                text-overflow: ellipsis;
            }

            #current_location_links {
                line-height: 13px;
                .map_btn {
                    display: inline-block;
                    vertical-align: bottom;
                    margin-left: 10px;
                    width: initial;
                    padding: 0 5px;
                    font-size: 11px;
                    line-height: 13px;
                    height: 13px;
                    background-color: $green;
                }

                #change_location {
                    display: inline-block;
                    vertical-align: bottom;
                    color: $blue;
                    text-decoration: none;
                    font-size: 11px;

                    &:hover {
                        text-decoration: underline;                        
                    }
                }                
            }
            
        }

        #new_list_btn_container {
            float: left;
            margin-left: 20px;

            .btn {
                width: 130px;
                height: 32px;
                line-height: 32px;
                font-size: 14px;
            }
        }

        #navigation_links_container {
            float: right;
            display: block;
            line-height: 33px;

            ul.user_nav {
                display: table-cell;

                li {
                    display: block;
                    float: left;
                    padding-left: 10px;

                    a {
                        display: block;
                        vertical-align: middle;
                        color: $mid-grey;
                        text-decoration: none;
                        font-size: 13px;
                    }

                    a.name {
                        padding-right: 10px;
                        // border-right: 1px solid $light-grey;
                        max-width: 200px;
                        white-space: nowrap;
                        overflow: hidden;
                        text-overflow: ellipsis;
                    }

                    a.img {
                        display: table-cell;

                        img {
                            height: 30px;
                            width: 30px;
                            vertical-align: middle;
                        }
                    }

                    a.name {

                    }
                }

                #search_options_container {
                    padding: 0;

                    ul.dropdown { 
                        position: relative; 
                        text-align: right;
                        z-index: 20;

                        li { 
                            padding: 0;
                            font-weight: bold; 
                            float: left; 
                            zoom: 1; 
                            
                            a { 
                                display: block; 
                                padding-right: 10px;
                                padding-left: 10px;
                                border-right: 1px solid $light-grey;
                                border-left: 1px solid $light-grey;

                            }

                            &.hover, &:hover { 
                                background: $x-light-grey; 
                                position: relative;
                                color: white;
                                box-shadow: 0 -1px $light-grey;
                            }
                        
                            &:hover > ul   { visibility: visible; }
                        }
                        
                        ul { 
                            visibility: hidden; 
                            position: absolute; 
                            top: 100%; 
                            right: 0; 
                            width: 150px; 
                            border-top: 1px solid $light-grey;
                            
                            li { 
                                font-weight: normal; 
                                background: white; 
                                color: $dark-grey; 
                                border-bottom: 1px solid $light-grey; 
                                float: none; 

                                &:hover {
                                    background: $x-light-grey; 
                                }
                                
                                a { 
                                    display: inline-block; 
                                    width: 100%; 
                                    padding-left: 10px; 
                                    color: $mid-grey; 
                                    
                                    &:hover { color: $blue; }
                                } 
                            }
                            
                            ul { left: 100%; top: 0; }
                        }
                    }

                }
            }
        }
    }    
}
