body.yumhacker {
    $magenta: #e91367;
    $dark-magenta: #d9114a;
    $blue: #0d70eb;
    $green: #2BA81C;
    $dark-blue: #094da1;
    $dark-grey: #313136;
    $mid-grey: #737378;
    $light-grey: #c1c1c3;
    $x-light-grey: #F1F1F3;

    nav {
        min-width: 1000px;
        height: 72px;
        padding: 10px 20px;
        background-color: white;
        border-bottom: 1px solid $magenta;

        a.logo {
            float: left;
            height: 56px;
            line-height: 56px;
            font-size: 26px;
            font-weight: bold;
            color: $magenta;
            text-decoration: none;
        }

        #current_location_container {
            float: left;                
            padding-left: 30px;
            text-align: left;

            #current_location {
            }

            #current_location_links {
                .map_btn {
                    display: inline-block;
                    vertical-align: bottom;
                    margin-left: 10px;
                    width: initial;
                    padding: 0 5px;
                    font-size: 11px;
                    line-height: 13px;
                    height: 13px;
                    background-color: $green;
                }

                #change_location {
                    display: inline-block;
                    vertical-align: bottom;
                    color: $blue;
                    text-decoration: none;
                    font-size: 11px;

                    &:hover {
                        text-decoration: underline;                        
                    }
                }                
            }
            
        }

        #new_list_btn_container {
            float: left;

            .btn {

            }
        }

        #navigation_links_container {
            float: right;
            display: block;

            ul.user_nav {
                display: table-cell;

                li {
                    display: block;
                    float: left;
                    height: 100%;
                    padding-left: 10px;
                    margin: 10px 0;

                    a {
                        display: block;
                        vertical-align: middle;
                        line-height: 32px;
                        color: $mid-grey;
                        text-decoration: none;
                        font-size: 13px;
                    }

                    a.name {
                        padding-right: 10px;
                        border-right: 1px solid $light-grey;
                        max-width: 200px;
                        white-space: nowrap;
                        overflow: hidden;
                        text-overflow: ellipsis;
                    }

                    a.img {
                        display: table-cell;

                        img {
                            height: 30px;
                            width: 30px;
                            vertical-align: middle;
                            border-radius: 50%;
                        }
                    }

                    a.name {

                    }
                }
            }
        }
    }

    
}