body.yumhacker {
    $magenta: #e91367;
    $dark-magenta: #d9114a;
    $blue: #0d70eb;
    $green: #2BA81C;
    $dark-green: #15510d;
    $dark-blue: #094da1;
    $dark-grey: #313136;
    $dark-mid-grey: #555560;
    $mid-grey: #737378;
    $light-grey: #c1c1c3;
    $lighter-grey: #E0E0E3;
    $x-light-grey: #F1F1F3;
    $input-glow: rgba(233, 19, 103, 0.2);

    #list_show_container, #list_edit_container {

        textarea {
            padding: 9px;
            font-family: "Avant Garde", Avantgarde, "Century Gothic", CenturyGothic, "AppleGothic", sans-serif;
            letter-spacing: 1px;
            color: $dark-grey;
            border: 1px solid $lighter-grey;
        }

        #list_title_container {
            position: relative;
            min-height: 194px;
            margin-top: 20px;
            padding: 20px;

            #delete_list {
                top: 5px;
                right: 20px;
            }

            #list_photo_container {
                float: left;
                position:relative;
                text-align: center;
                margin-right: 30px;
                height: 150px;
                width: 150px;

                #list_photo {
                    height: 150px;
                    width: 150px;
                }

                #add_photo_modal_btn_container {
                    position: absolute;
                    bottom: 0px;
                    width: 150px;
                    background-color: rgba(255, 255, 255, 0.9);
                    opacity: 0.3;

                    &:hover {
                        opacity: 1;
                    }
                }
            }

            #list_title_info_container {
                float: left;
                width: 780px;
                text-align: left;

                #title_container {
                    border-bottom: 1px solid $light-grey;                    
                    
                    h1 {
                        font-size: 40px;
                        line-height: 60px;
                        padding: 10px;
                    }

                    textarea {
                        width: 100%;
                        max-width: 100%;
                        height: 80px;
                        margin-bottom: -4px;
                        border-bottom: none;
                        line-height: 60px;
                        font-size: 40px;
                    }
                }
                

                #title_lower_row {
                    padding-top: 20px;
                    
                    #list_user_info_container {
                        float: left;


                        #list_user_photo {
                            display: inline-block;

                            img {
                                height: 30px;
                                width: 30px;
                            }
                        }

                        #list_user_text {
                            display: inline-block;

                            #list_user_name {
                                font-size: 13px;
                                line-height: 20px;
                                color: $blue;
                                text-decoration: none;
                            }

                            #list_updated_at {
                                font-size: 11px;
                                line-height: 15px;
                                color: $mid-grey;
                            }
                        }
                    }
                } 
            }
        }

        #list_description_container {
            padding: 20px 30px;
            text-align: left;
            line-height: 30px;
            font-size: 18px;
            color: $dark-mid-grey;

            textarea {
                width: 100%;
                max-width: 100%;
                height: 60px;
                line-height: 30px;
                font-size: 18px;
                color: $dark-mid-grey;
                padding: 0px 5px;
            }
        }

        #listings_container {
            margin-top: 10px;

            #add_listing_btn_container {
                padding: 10px;
                padding-top: 0;
                border-bottom: 1px solid $light-grey;

                #listing_container_add_listing_btn {
                    font-size: 14px;
                    padding: 10px 40px;
                }
            }

            li {
                position: relative;
            }
        }

        .comment_container {
            margin-top: 10px;
            border-top: 1px solid $lighter-grey;

            .content_container {
                display: inline-block;
                width: 100%;
                line-height: 26px;
                font-size: 16px;
                vertical-align: top;
                padding: 18px 26px;
                color: $dark-mid-grey;

                .comment_form {
                    textarea {
                        width: 100%;
                        min-height: 34px;
                        padding: 5px;
                        margin: 0;
                        font-size: inherit;
                        line-height: inherit;
                    }

                    .flash {
                        box-shadow: 1px 1px 2px rgba(43,168,28, 0.6), 
                                    -1px -1px 2px rgba(43,168,28, 0.6), 
                                    1px -1px 2px rgba(43,168,28, 0.6), 
                                    -1px 1px 2px rgba(43,168,28, 0.6);
                    }
                }
            }

            .date {
                font-size: 11px;
                color: $mid-grey;
                text-align: right;
            }
        }
    }
}