body {
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
    text-align: center;
    color: #555;

    h1 {
        padding: 10px;
        line-height: 30px;
        font-size: 30px;
        color: #222;
    }

    h3, li {
        line-height: 20px;
        font-size: 20px;        
    }

    h3 {
        padding: 10px;
    }

    nav {
        padding: 10px 30px;
        margin-bottom: 20px;
        background-color: #333;
        color: #fff;

        .logo {
            font-size: 20px;
            float: left;
            padding: 0;
            line-height: 30px;
        }

        .nav_links_container {
            float: right;
            padding: 0 10px;
        }

        a {
            margin-left: 14px;
            line-height: 30px;
            font-size: 16px;
            color: #fff;
            text-decoration: none;
        }
    }  

    li {
        padding: 10px;
        border-bottom: 1px solid #333;
    } 

    .clear {
        clear: both;
    }
}
