body.yumhacker {
    $magenta: #e91367;
    $dark-magenta: #d9114a;
    $blue: #0d70eb;
    $dark-blue: #094da1;
    $dark-grey: #313136;
    $mid-grey: #737378;
    $light-grey: #c1c1c3;
    $x-light-grey: #F1F1F3;

    #main_container {
        padding-top: 0;
    }

    #main_index_establishments_container {
        width: 100%;

        #main_filter_container {
            margin: 10px 0;
            padding: 16px 20px;
            text-align: left;
            background-color: white;

            #main_filter {

                label {
                    color: $mid-grey;
                    font-size: 14px;
                    line-height: 14px;
                    vertical-align: bottom;
                }

                .small.label {
                    display: inline-block;
                    font-size: 11px;
                    color: $light-grey;
                    min-width: 65px;
                }

                #filter_left {
                    float: left;

                    #following_filter_container {
                        padding-top: 3px;
                        padding-bottom: 3px;


                        .radio_container {
                            display: inline-block;
                            padding: 0px 8px;

                            &:nth-child(2) {
                                padding-left: 3px;
                            }

                            input {
                                margin: 0;
                                margin-right: 3px;
                                padding: 0; 
                                vertical-align: middle;
                            }
                        }
                    }           
                }


                #filter_right {
                    float: right;
                }   
            }
        }

        #establishments_list_container {
            display: inline-block;
            width: 50%;
            padding-right: 30px;

            #no_results_message {
                list-style: none;

                p {
                    font-size: 13px;
                    line-height: 20px;
                    color: $mid-grey;
                }

                #links_container {
                    margin-top: 10px;
                    
                    a {
                        display: block;
                        font-size: 13px;
                        color: $blue;
                    }
                }
            }

            .endorsers_container {
                border-top: 1px solid $x-light-grey;
                padding-top: 5px;
                margin-top: 5px;

                p {
                    font-size: 9px;
                    line-height: 9px;
                    color: $mid-grey;
                }
                
                li {
                    line-height: 0;
                    display: inline-block;
                    padding: 5px;
                    border-bottom: none;

                    img {
                        height: 30px;
                        width: 30px;
                    }
                }
            }
        }

        #map_pane {
            display: inline-block;
            vertical-align: top;
            width: 49%;
            .map_canvas_container {
                #map_canvas {
                    width: 100%;
                    height: 500px;
                }
            }
        }
    }
}