body.yumhacker {
    $magenta: #e91367;
    $dark-magenta: #d9114a;
    $blue: #0d70eb;
    $green: #2BA81C;
    $dark-blue: #094da1;
    $dark-grey: #313136;
    $mid-grey: #737378;
    $light-grey: #c1c1c3;
    $x-light-grey: #F1F1F3;
    $input-glow: rgba(233, 19, 103, 0.2);

    #application_modal {
        display: none;
        position: fixed;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        text-align: center;
        background-color: rgba(241, 241, 243 ,0.93);
        z-index: 100;

        .inner_modal {
            position: relative;
            width: 600px;
            margin: 50px auto;
            padding: 40px;
            border: 1px solid $light-grey;
            max-height: 80%;
            overflow-y: auto;

            .cancel {
                position: absolute;
                top: 20px;
                right: 20px;
                text-decoration: none;
                color: $mid-grey;
                background-color: white;
                border:none;
                cursor:pointer;
            }

            h1 {
                font-size: 20px;
                line-height: 20px;
                color: $mid-grey;
            }

            .logo {
                margin-bottom: 20px; 
                img {
                    height: 40px;
                }
            }

            p {
                margin: 10px 0 30px;
                line-height: 16px;
                color: $mid-grey;
            }

            .btn_container {
                padding-top: 40px;
                border-top: 1px solid $light-grey;

                .btn {
                    height: 40px;
                    width: 160px;
                    margin: 0 15px;
                    line-height: 40px;
                    font-size: 16px;
                }
            }

            #main_search_view_container {

                #main_search_form {
                    
                    img {
                        height: 20px;
                        vertical-align: middle;
                    }

                    #location_container {
                        display: inline-block;
                        vertical-align: top;
                        width: 85%;
                        border: 1px solid $light-grey;
                        padding: 0 5px;

                        #location_input {
                            width: 90%;
                            height: 30px;
                            padding: 0;
                            line-height: 16px;
                            font-size: 16px;
                            color: $dark-grey;
                            border: none;
                            word-break: initial;
                        }

                        #nearby_btn {
                            float: right;
                            margin: 0;
                            padding: 0;
                            line-height: 30px;
                            cursor: pointer;
                            background: #FFF;
                            border: none;
                        }
                    }

                    #submit_container {
                        display: inline-block;
                        padding: 0;
                        margin: 0;
                        width: 10%;

                        .btn {
                            height: 32px;
                        }
                    }
                }
            }
        }
    }
}
