body.yumhacker {
    $magenta: #e91367;
    $dark-magenta: #d9114a;
    $blue: #0d70eb;
    $green: #2BA81C;
    $dark-blue: #094da1;
    $dark-grey: #313136;
    $mid-grey: #737378;
    $light-grey: #c1c1c3;
    $lighter-grey: #E0E0E3;
    $x-light-grey: #F1F1F3;
    $input-glow: rgba(233, 19, 103, 0.2);

    #application_modal {
        display: none;
        position: fixed;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        text-align: center;
        background-color: rgba(241, 241, 243 ,0.93);
        z-index: 100;

        .inner_modal {
            position: relative;
            width: 800px;
            margin: 50px auto;
            border: 1px solid $light-grey;
            max-height: 90%;
            overflow-y: auto;
            background-color: white;

            .cancel {
                position: absolute;
                top: 20px;
                right: 20px;
                text-decoration: none;
                color: $mid-grey;
                background-color: white;
                border:none;
                cursor:pointer;
            }

            h1 {
                font-size: 20px;
                line-height: 20px;
                color: $mid-grey;
            }

            .logo {
                margin-bottom: 20px; 
                img {
                    height: 40px;
                }
            }

            p {
                line-height: 16px;
                color: $mid-grey;
            }

            #authentication_container {
                padding: 30px;

                .btn_container {
                    padding-top: 40px;
                    border-top: 1px solid $light-grey;
                    margin-top: 5px;

                    .btn {
                        height: 40px;
                        width: 160px;
                        margin: 0 15px;
                        line-height: 40px;
                        font-size: 16px;
                    }
                }
            }

            #find_establishment_results_container {
                margin-bottom: 30px;

                li:first-of-type {
                    border-top: 1px solid $light-grey;
                }
            }

            #main_search_view_container {
                padding: 30px 40px;
                    
                #main_search_form {
                    margin: 24px 0;    
                    img {
                        height: 20px;
                        vertical-align: middle;
                    }

                    #location_container {
                        display: inline-block;
                        vertical-align: top;
                        width: 85%;
                        border: 1px solid $light-grey;
                        padding: 0 5px;

                        #location_input {
                            width: 90%;
                            height: 30px;
                            padding: 0;
                            line-height: 16px;
                            font-size: 16px;
                            color: $dark-grey;
                            border: none;
                            word-break: initial;
                        }

                        #nearby_btn {
                            float: right;
                            margin: 0;
                            padding: 0;
                            line-height: 30px;
                            cursor: pointer;
                            background: #FFF;
                            border: none;
                        }
                    }

                    #submit_container {
                        display: inline-block;
                        padding: 0;
                        margin: 0;
                        width: 32px;

                        .btn {
                            height: 32px;
                        }
                    }
                }
            }

            #add_to_list_modal_container {
                padding: 30px;

                .biz_name {
                    font-size: 30px;
                    line-height: 40px;
                    max-width: 85%;
                    margin: auto;
                }

                .details {
                    font-size: 16px;
                    color: $mid-grey;
                    line-height: 20px;
                }

                #add_listing_to_list_form {
                    margin-top: 16px;

                    #list_selection_container {
                        margin-bottom: 10px;
                        height: 34px;
                        select {
                            width: 400px;
                            height: 34px;
                            font-family: "Avant Garde", Avantgarde, "Century Gothic", CenturyGothic, "AppleGothic", sans-serif;
                            letter-spacing: 1px;
                            font-size: 13px;
                            line-height: 1;
                            color: $dark-grey;
                            background-color: $x-light-grey;
                            border: 1px solid $light-grey;
                            border-radius: 0;
                            white-space: nowrap;
                        }
                    }

                    textarea {
                        display: block;
                        width: 400px;
                        margin: auto;
                    }

                    input {
                        margin-top: 10px;
                    }
                }

            }

            #edit_list_image_selector_container {
                margin: 30px auto;

                #upload_image_form_container {
                    margin: 20px auto;
                    
                    #upload_btn_container {
                        position: relative;
                        height: 40px;
                        width: 200px;
                        background: $x-light-grey;
                        border: 1px solid $lighter-grey;
                    
                        .upload_throbber_container {
                            position: absolute;
                            left: 10px;

                            .throbber {
                                padding: 4px;
                                height: 40px;
                                line-height: 40px;
                            }
                        }

                        label {
                            display: block;
                            font-size: 13px;
                            text-transform: uppercase;
                            padding: 5px;
                        }
                    }
                }

                p {
                    margin-bottom: 20px;
                }


                #user_images_list {
                    margin-top: 20px;

                    li {
                        display: inline-block;
                        margin:4px 6px;
                    } 
                
                }
            }

            #create_new_list_modal {
                padding: 30px;
    
                form {
                    margin: 20px auto;
                    width: 80%;
                    text-align: left;

                    #save_new_list, label, textarea {
                        display: block;
                        margin:auto;
                    }
                    label

                    textarea {
                        width: 100%;
                        margin: 5px 0 20px;
                    }

                    #save_new_list {
                    }
                }
            }
        }
    }
}
