body.yumhacker {
    $magenta: #e91367;
    $dark-magenta: #d9114a;
    $blue: #0d70eb;
    $dark-blue: #094da1;
    $dark-grey: #313136;
    $mid-grey: #737378;
    $light-grey: #c1c1c3;
    $x-light-grey: #F1F1F3;

    .contact_container {
        margin: auto;
        width: 500px;

        h3 {
            padding: 30px;
            font-size: 20px;
            line-height: 20px;
        }

        .card {
            padding-top: 40px;
            padding-bottom: 40px;

            a {
                display: block;
                line-height: 50px;
                font-size: 24px;
                color: $blue;
                text-decoration: none;

                &:hover {
                    text-decoration: underline;
                }
            }
        }
    }

    .privacy_container, .terms_container {
        padding: 20px;
        font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;

        .card {
            padding: 20px 40px;
            text-align: left;

            h1 {
                padding: 10px 0; 
                font-size: 20px;
                line-height: 20px;
                font-weight: bold;
            }

            h3 {
                line-height: 13px;
                font-size: 13px;
                font-weight: bold;
            }

            p {
                padding: 10px 0;
                line-height: 20px;
                font-size: 13px;
            }
        }
    }

    .terms_container {
        text-align: right;

        .boring_terms {
            display: none;
        }

        a.toggle {
            display: block;
            padding-bottom: 10px;
            color: $blue;
            font-size: 13px;
            line-height: 13px;
            cursor: pointer;
        } 

        canvas {
            display: block;
            margin: 0 auto;
        }

        .mod {
            padding-top: 20px;
            font-size: 13px;
            color: $mid-grey;
        }
    }
}
