body.yumhacker {
    $magenta: #e91367;
    $dark-magenta: #d9114a;
    $blue: #0d70eb;
    $dark-blue: #094da1;
    $dark-grey: #313136;
    $mid-grey: #737378;
    $light-grey: #c1c1c3;
    $x-light-grey: #F1F1F3;

    #user_show_container {
        width: 100%;

        #user_model_container {
            width: 35%;

            #profile_container {
                padding-top: 20px;
                padding-bottom: 20px;

                .photo_container {
                    padding: 20px 0 10px;
                }

                .user_name {
                    line-height: 30px;
                    font-size: 30px;
                }

                .details {
                    font-size: 13px;
                    line-height: 13px;
                    color: $mid-grey;                    
                    padding-top: 10px;
                }

                .location {
                }

                a.website {
                    color: $blue;
                    text-decoration: none;
                    display: block;
                }

                .description {
                    width: 100%;
                    margin-top: 10px;
                    line-height: 20px;
                    border-top: 1px solid $light-grey;
                }

                .follow_btn_container {
                    padding-top: 20px;
                }
            }
        }

        #following_container {
            width: 65%;

            #follow_tabs_container {
                margin-bottom: 10px;
                padding: 0;
                text-align: left;
            }

            .tab {
                float: left;
                width: 25%;
                padding: 10px;
                font-size: 13px;
                color: $mid-grey;
                border-right: 1px solid $light-grey;
                text-decoration: none;
                cursor: pointer;
                
                &:first-of-type {
                    border-radius: 2px 0 0 2px;
                }          

                &:last-of-type {
                    border-right: none;
                    border-radius: 0 2px 2px 0;
                }

                &.current_tab {
                    background-color: $magenta;
                    color: white;
                }
            }

            ul.lists {
                text-align: left;

                .description {
                    margin-top: 5px;
                    padding-left: 15px;
                    font-size: 13px;
                    line-height: 16px;
                }

                .list_photo_container, .list_info_container {
                    float: left;
                }

                .favorite_btn_container {
                    float: right;
                }
            }
        }
    }

}