body.yumhacker {
    $magenta: #e91367;
    $dark-magenta: #d9114a;
    $blue: #0d70eb;
    $dark-blue: #094da1;
    $dark-grey: #313136;
    $mid-grey: #737378;
    $light-grey: #c1c1c3;
    $x-light-grey: #F1F1F3;

    #users_index_list_container {
        width: 800px;
        margin: 30px auto;   
        text-align: left;

        h3 {
            padding: 20px;
            font-size: 20px;
            color: $mid-grey;
            text-align: center;
            border-bottom: 1px solid $light-grey;
            margin-bottom: 10px;

            a {
                color: $mid-grey;
                text-decoration: none;

                &:hover {
                    color: $blue;
                }
            }
        }
        
        ul {
            li {
                display: inline-block;
                padding: 10px;
                width: 32%;
                vertical-align: top;

                a {
                    color: $dark-grey;
                    text-decoration: none;
                    font-size: 13px;
                    line-height: 16px;

                    &:hover {
                        color: $blue;
                    }
                }
            }
        }
    }
}