<% content_for(:title, @user.full_name + "'s Restaurant Categories| Find restaurants endorsed by people you trust | Yumhacker ") %>

<% content_for(:description, @user.full_name + ' is endorsing restarurants in ' + @categories.length.to_s + ' categories on YumHacker!') %>

<header></header>
<section>
    <div id='categories_index_list_container' class='card border'>
        <h3><a href="/<%= @user.path %>"><%= @user.full_name %></a>'s Category Lists</h3>

        <ul id='categories_index_list'>
            <% @categories.each do |category| %>
                <li>
                    <a href="<%= 'categories/' + category.slug %>"><%= category.name %></a>
                </li>
            <% end %>
        </ul>
    </div>
</section>
<footer></footer>