<h1><%= @user.full_name %>'s Categories!</h1>

<ul>
    <% @categories.each do |category| %>
        <li>
            <a href="<%= 'categories/' + category.slug %>"><%= category.name %></a>
        </li>
    <% end %>
</ul>