<p>Hi <%= @resource.first_name %>!</p>

<p>Your password can be reset by clicking on the link below.</p>

<p><%= link_to 'Change my password', edit_password_url(@resource, :reset_password_token => @token) %></p>

<p>If you didn't request this, simply ignore this email. Your password will not be changed.</p>

<p>Cheers!</p>

<p>Team YumHacker</p>
