<div id='search_wrapper'>
    <div id='find_user_container' class='search_container card border'>
        <h3>Facebook Friends on YumHacker</h3>
        <div class='done'>
            <a class='btn text nav' href='[[= "/?" + encodeURIComponent($.param(_.extend(Location.predicate(), Filter.predicate(), Client.predicate()))) ]]'>Done</a>
        </div>
    </div>
        
    <div id='find_user_results_container'></div>
</div>