<div class='user_container'>
    <a href='/[[= get("path") ]]' class='user img'><img src="[[= get('avatar_url_thumb') ]]"></a>
    <a href='/[[= get("path") ]]' class='user name'>[[= get('full_name') ]]</a>
</div>
<div class='follow_btn_container'></div>
<br class='clear'>
