<div class='user result'>
    <div class='user_name'>
        [[= get('first_name') ]] [[= get('last_name') ]]
    </div>
</div>

<div class="follow_btn_container btn_container"></div>

<br class='clear'>
