<div id='find_user_container' class='search_container'>
    <h3>Search for Friends</h3>

    <form id='user_search_form'>

        <div class='field'>
            <label for='email'>Email:</label><br>
            <input id='email' class='textbox' type='text' autocomplete='off' placeholder='bob.smith@example.com' autofocus>
        </div>

        <div class='field'>
            <label for='first_name'>First Name:</label><br>
            <input id='first_name' class='textbox' type='text' autocomplete='off' placeholder='First Name'>
        </div>

        <div class='field'>
            <label for='last_name'>Last Name:</label><br>
            <input id='last_name' class='textbox' type='text' autocomplete='off' placeholder='Last Name'>
        </div>

        <input class='btn' type='submit' value='Submit'>
    </form>
    
</div>

<div id='find_user_results_container'>
    <ul id='find_user_results' class='search_results'></ul>
</div>