<div id='search_wrapper'>
    <div id='find_user_container' class='search_container card border'>
        <h3>Search for Friends</h3>

        <form id='user_search_form'>

            <div class='field'>
                <label for='email'>Email:</label><br>
                <input id='email' type='text' autocomplete='off' placeholder='bob.smith@example.com' autofocus class='text_input'>
            </div>

            <div class='field'>
                <label for='first_name'>First Name:</label><br>
                <input id='first_name' type='text' autocomplete='off' placeholder='First Name' class='text_input'>
            </div>

            <div class='field'>
                <label for='last_name'>Last Name:</label><br>
                <input id='last_name' type='text' autocomplete='off' placeholder='Last Name' class='text_input'>
            </div>

            <div class='center'>
                <input class='btn text' type='submit' value='Submit'>
            </div>
        </form>
    </div>
        
    <div id='find_user_results_container'></div>
    
    <div id='login_modal_container'></div>
</div>