<div id='profile_container' class='card border'>
    <div class='photo_container'>
        <img src="[[= get('avatar_url_medium') ]]" >
    </div>

    <h1 class='user_name'>[[= get('first_name') ]] [[= get('last_name') ]]</h1>

    <div class='follow_btn_container'>
        <a href='/users/edit' class='edit btn text'>Edit Profile</a>
    </div>
</div>
