<div class="card" id='follow_tabs_container'>
    <a href="[[= get('lists_url') ]]" id='lists_tab' class="tab">Yum Lists: [[= get('num_lists') ]]</a>
    <a href="[[= get('favorites_url') ]]" id='favorites_tab' class="tab">Favorites: [[= get('num_favorites') ]]</a>
    <a href="[[= get('following_url') ]]" id='followed_users_tab' class="tab">Following: [[= get('num_followed_users') ]]</a>
    <a href="[[= get('followers_url') ]]" id='followers_tab' class="tab">Followers: [[= get('num_followers') ]]</a>
    <br class='clear'>
</div>

<div class="following_list_container card"></div>
