<div id='profile_container' class='card border'>
    <div class='photo_container'>
        <img src="[[= get('avatar_url_small') ]]" >
    </div>

    <h1 class='user_name'>[[= get('full_name') ]]</h1>

    [[ if (get('location')) { ]]
        <p class='location details'>[[= get('location') ]]</p>
    [[ } ]]
    
    [[ if (get('website')) { ]]
        <a href="[[= get('website') ]]" class='website details'>[[= get('website') ]]</a>
    [[ } ]]

    [[ if (get('description')) { ]]
        <p class='description details'>[[= get('description') ]]</p>
    [[ } ]]

    <div class='follow_btn_container'>
        [[ if (CurrentUser.logged_in()) { ]]
            <a href='/users/edit' class='edit btn text'>Edit Profile</a>
        [[ } ]]
    </div>
</div>
