<div class="follow_tabs_container card">
    <div class="endorsements_tab tab current_tab">Endorsements: [[= get('num_endorsements') ]]</div>
    <div class="followers_tab tab">Followers: [[= get('num_followers') ]]</div>
    <div class="followed_users_tab tab">Following: [[= get('num_followed_users') ]]</div>
    <br class='clear'>
</div>

<div class="following_list_container card"></div>