<div id='profile_container' class='card'>
    <div class='photo_container'>
        <%= image_tag "TEST_profile_photo.jpg" %>
    </div>

    <h1 class='user_name'>[[= get('name') ]]</h1>

    <div class='follow_btn_container'></div>
</div>
