<div class='user_model_container'></div>

<div class="followers_container">
    <h3>Followers</h3>
    <ul class='followers'></ul>
</div>

<div class='followed_users_container'>
    <h3>Followed Users</h3>
    <ul class='followed_users'></ul>
</div>
