<div class="card" id='follow_tabs_container'>
    <div id='endorsements_tab' class=" tab current_tab">Endorsements: [[= get('num_endorsements') ]]</div>
    <div id='followers_tab' class="tab">Followers: [[= get('num_followers') ]]</div>
    <div id='followed_users_tab' class="tab">Following: [[= get('num_followed_users') ]]</div>
    <br class='clear'>
</div>

<div class="following_list_container card"></div>
