<a href="[[= lists.url ]]" id='lists_tab' class="tab [[= (lists.selected ? 'current_tab' : '') ]]">Yum Lists: [[= lists.count ]]</a>
<a href="[[= favorites.url ]]" id='favorites_tab' class="tab [[= (favorites.selected ? 'current_tab' : '') ]]">Favorites: [[= favorites.count ]]</a>
<a href="[[= following.url ]]" id='followed_users_tab' class="tab [[= (following.selected ? 'current_tab' : '') ]]">Following: [[= following.count ]]</a>
<a href="[[= followers.url ]]" id='followers_tab' class="tab [[= (followers.selected ? 'current_tab' : '') ]]">Followers: [[= followers.count ]]</a>
<br class='clear'>
