<div class="list">
    <div class='list_img_container'>
        <a href='/[[= get("path") ]]' class='list_img nav'>
            <img src="[[= get('small_url') ]]">
        </a>
    </div>

    <div class='list_text_container'>
        <a href='/[[= get("path") ]]' class='title nav'>[[= get('title') ]]</a>

        [[ if (get('description')) { ]]
            <p class='descripton'>[[= get('description') ]]</p>
        [[ } ]]

    </div>
</div>

<div class='favorite_btn_container'></div>
<br class='clear'>
