<div id='profile_container' class='card border'>
    <div class='photo_container'>
        <img src="[[= get('avatar_url_small') ]]" >
    </div>

    <h1 class='user_name'>[[= get('full_name') ]]</h1>

    [[ if (get('location')) { ]]
        <p class='location'>[[= get('location') ]]</p>
    [[ } ]]

    <div class='follow_btn_container'>
        [[ if (CurrentUser.get('id')) { ]]
            <a href='/users/edit' class='edit btn text'>Edit Profile</a>
        [[ } ]]
    </div>
</div>
