<div class="follow_tabs_container">
    <div class="followers_tab tab">Followers</div>
    <div class="followed_users_tab tab">Following</div>
    <div class="endorsements_tab tab">Endorsements</div>
</div>

<div class="following_list_container"></div>