<div class="list">
    <a href='/[[= get("path") ]]' class='title nav'>[[= get('title') ]]</a>

    <img src="[[= get('small_url') ]]">
</div>

    <!-- <div class='add_to_list_btn_container'>
        <a class='add_to_list_btn btn unengaged text'>Add to List</a>
    </div> -->

    <!-- <div class='wish_list_btn_container'></div> -->
    <div class='favorite_btn_container'></div>
<br class='clear'>
