<div class="follow_tabs_container">
    <div class="followers_tab">Followers Tab</div>
    <div class="followed_users_tab">Followed Users Tab</div>
</div>

<div class="following_list_container"></div>