<div id='user_show_container'>
    <div id='user_model_container' class='column left'></div>

    <div id='following_container' class='column right'>
        <div class="card" id='follow_tabs_container'></div>
        <div class="card following_list_container" id='following_list_container'>
            <div class="lists_container">
            </div>
        </div>
    </div>
    <br class='clear'>
</div>
