<div class="list">
    <a href='/[[= get("path") ]]' class='title nav'>[[= get('title') ]]</a>

    <img src="[[= get('small_url') ]]">
</div>

<div class='list_action_btn_container'>
    <div class='favorite_btn_container'></div>
</div>
<br class='clear'>
