<div id='search_wrapper'>
    <div id='find_user_container' class='search_container card border'>
        <h3>Your Facebook Friends on YumHacker</h3>
        <h4>You're following all of your Facebook friends on YumHacker!</h4>
        <div class='done'>
            <a class='btn text nav' href="/">Done</a>
        </div>
    </div>

    
    <div id='find_user_results_container'></div>
</div>